@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Perkahwinan Bajet</h1>
    <p class="lead">Nikmati pakej yang disediakan untuk majlis perkahwinan idaman anda</p>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/img/pelamin.jpg" width="201" height="234" />
    </div>
    <div class="col-md-4">
        <img src="~/img/katering.jpg" width="201" height="234" />
    </div>
    <div class="col-md-4">
        <img src="~/img/persalinan.jpg" width="201" height="234" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Pelamin Idaman</h2>
        <p>
            Idamkan pelamin yang indah pada hari bersejarah anda?
        </p>
    </div>

    <div class="col-md-4">
        <h2>Katering</h2>
        <p>Inginkan menu istimewa untuk hari persandingan anda? </p>

    </div>

    <div class="col-md-4">
        <h2>Koleksi Persalinan Perkahwinan</h2>
        <p>Ingin nampak cantik dan sedondon dengan pasangan anda?.</p>

    </div>
</div>